html {
    background:#ff785a;
}
html:hover .arania{
    top:-120%;
}
.arania{
    position:absolute;
    display: inline-block;
    top:0;
    left:30%;
    animation: swing 2s infinite;
    transform-origin:top;
    transition: 1s ease-in-out;
}
.arania .araniaweb{
    width: 4px;
    height: 200px;
    margin-left:49px;
    background:rgba(255,255,255,.7);
}

.arania .cuerpo{
    width:100px;
    height:80px;
    background:#000;
    position:relative;
    border-radius:50%;
}
.arania .cuerpo .ojo{
    width:33px;
    height: 33px;
    position:absolute;
    bottom:20px;
    background:#fff;
    border-radius:50%;
}
.arania .cuerpo .ojo .izquierdo{
    left: 15px;
}

.arania .cuerpo .ojo .derecho{
    right: 15px;
}
.arania .cuerpo .ojo:after{
    background:#000;
    width:7px;
    height:7px;
    content:'';
    display:block;
    margin:55%;
    border-radius:50%;
    animation: look 8s infnite;
}